<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">



    <title>{{title}}</title>
</head>

<body>

    {{!-- navebar --}}
    <nav class="navbar navbar-expand-lg navbar-light  fixed-top" style="background-color: rgb(245, 98, 98);">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">{{title}}</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    {{!-- navebar adding --}}

                    {{#each nav}}
                    <li class="nav-item">
                        <a class="nav-link active" href="{{this.link}}">{{this.name}}</a>
                    </li>
                    {{/each}}

                    {{!-- //navebar adding --}}
                </ul>
            </div>
        </div>
    </nav>


    {{!-- https://clipartart.com/images/antarctica-book-clipart-black-and-white-4.png --}}

    <!------ Include the above in your HEAD tag ---------->
    <div class="full-height" style=" background: -webkit-linear-gradient(left, #e76767, #e6e6e6, #e76767); ">
        <div class="container register">
            <div class="row">
                <div class="col-md-6 register-left">
                    <br>

                    <img src="/images/—Pngtree—library book decoration illustration_4598260.png" alt="" />
                    <h2 style="font-family: Comic Sans MS; color:gradient #574c4c, #e6e6e6, #1f1818);">Welcome to
                        Library </h2>
                </div>

                <div class="col-12 col-md-6">
                    <!--login-->
                    <div id="login-box" style="background: transparent; margin-top: 10%;">
                        <div class="left">
                            <form action="/index">
                                <h1>Login</h1>
                                <br>
                                <input type="text" name="username" placeholder="Username" />
                                <input id="email" type="text" name="email" placeholder="Email/PhoneNo" />
                                <div id="msg" style="font-size: 15px;  margin-top: -10px; margin-bottom: 10px;"> </div>
                                <input id="pass" type="password" name="password" placeholder="Password" />
                                <div id="msg1" style="font-size: 15px;  margin-top: -10px; margin-bottom: 10px;"> </div>
                                <input type="password" name="password2" placeholder="Retype password" />
                                 <div id="msg1" style="font-size: 15px;  margin-top: -10px; margin-bottom: 10px;"> </div>
                                <input id="submit" type="submit" name="signup_submit" value="login" />
                        </div>

                        <div class="right ">
                            <span class="loginwith">Sign in with<br />social network</span>

                            <button class="social-signin facebook">Log in with facebook</button>
                            <button class="social-signin twitter">Log in with Twitter</button>
                            <button class="social-signin google">Log in with Google+</button>
                        </div>
                        </form>
                        <div class="or">OR</div>
                    </div>

                    <!--/login-->
                </div>


            </div>
        </div>
    </div>

    {{!-- //login --}}


    <!-- Footer -->
    <footer class="page-footer font-small cyan darken-3">
        <!-- Copyright -->
        <div class="footer-copyright text-center py-3">© 2021 Copyright:Viju Valsan A
        </div>
        <!-- Copyright -->

    </footer>
    <!-- Footer -->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
        crossorigin="anonymous"></script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"
        integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj"
        crossorigin="anonymous"></script>

    {{!-- <script>
        let mail = document.getElementById("email");
        let pwd = document.getElementById("pass");
        let lgin = document.getElementById("submit");
        //let msg =document.getElementById("msg");


        function ValidateEmailPhone() {
            var regexp = /^([a-zA-Z0-9\.\-]+)@([a-zA-Z0-9\-]+)\.([a-z]{2,3})(\.[a-z]{2,3})?$/; // email
            var a = /^\(?([0-9]{3})\)?[-. ]?([0-9]{3})[-. ]?([0-9]{4})$/; //phone no xxx xxx xxx, xxx-xxx-xxx, xxx.xxx.xxx

            if (regexp.test(mail.value)) {
                return (true);
            }
            else {

                document.getElementById("msg").innerHTML = "You have entered an invalid Email/PhoneNo ";
                return (false);
            }

        }


        function ValidatePassword() {
           var rgxp=/^[a-zA-Z0-9!@#$%^&*]{8,16}$/;
            if (rgxp.test(pwd.value)) {

                return true;


            }

            else {
                document.getElementById("msg1").innerHTML = "You have entered an invalid password ";
                return (false);

            }

        }

    </script> --}}

</body>

</html>